<ul class="nav nav-pills">
  <li>
    <%= link_to "Writing Grid", polymorphic_url([:grid, teachable]) %>
  </li>
  <li>
    <%= link_to "Flash Cards", polymorphic_url([:quiz, teachable]) %>
  </li>
</ul>
