<table ng-controller="CharacterGridController" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Character</th>
      <th>Pronounciation</th>
      <th>Part of Speech</th>
      <th>Meaning</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="fc in model.flash_cards">
      <td>{{ display.character(fc) }}</td>
      <td>{{ display.pronounciation(fc) }}</td>
      <td>{{ fc.part_of_speech }}</td>
      <td>{{ fc.meaning }}</td>
    </tr>
  </tbody>
</table>
