<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <%= link_to "練習", root_path, :class => "brand" %>

      <ul class="nav-collapse nav">
      </ul>

      <button id="pref-charset" class="btn btn-link input-small">
      </button>

      <button id="pref-transcript" class="btn btn-link input-small">
      </button>

      <% if @user.nil? %>
        <%= render :partial => "partials/sign_in" %>
      <% else %>
        <%= render :partial => "partials/sign_out" %>
      <% end %>
    </div>
  </div>
</div>
