<div id="tools">
  <div class="tools-nav">
    <ul class="nav nav-tabs">
      <li>
        <a class="google" href="#">Google</a>
      </li>
      <li>
        <a class="wiktionary" href="#">Wiktionary</a>
      </li>
      <li>
        <a class="cantodict" href="#">Cantodict</a>
      </li>
    </ul>
  </div>
  <div class="tools-frame">
    <iframe class="google"
      src="http://translate.google.com/m/translate"></iframe>

    <iframe class="wiktionary"
      src="http://en.m.wiktionary.org"></iframe>

    <iframe class="cantodict"
      src="http://www.cantonese.sheik.co.uk/dictionary/"></iframe>
  </div>
</div>
