<div id="tools">
  <div class="tools-nav">
    <ul class="nav nav-tabs">
      <li>
        <a class="google" href="#">Google</a>
      </li>
      <li>
        <a class="wiktionary" href="#">Wiktionary</a>
      </li>
      <li>
        <a class="cantodict" href="#">Cantodict</a>
      </li>
      <li>
        <a class="toshuo" href="#">Toshuo Zhuyin</a>
      </li>
    </ul>
  </div>
  <div class="tools-frame">
    <iframe />
  </div>
</div>
