<div class="grid">
  <% @words.each do |word| %>
    <div class="word">
      <p class="definition"><%= word[:meaning] %></p>

      <% word[:characters].each do |character| %>
        <div class="character">
          <div class="guide-vcenter">
            <div class="guide">
              <ruby>
                <%= character[:hanzi] %>
                <rt><%= character[:pronounciation] %></rt>
              </ruby>
            </div>
          </div>

          <div class="square sample">
            <%= character[:hanzi] %>
            <div class="cross rise"></div>
            <div class="cross fall"></div>
            <div class="cross horizontal"></div>
            <div class="cross vertical"></div>
          </div>

          <% 50.times do %>
            <div class="square empty">
              <div class="cross rise"></div>
              <div class="cross fall"></div>
              <div class="cross horizontal"></div>
              <div class="cross vertical"></div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
