<% content_for :title do %>
  <%= @teachable.title %>
<% end %>

<div class="page-header">
  <h1><%= @teachable.title %></h1>
</div>

<script>
  globals.jsonUrl =
    '<%= polymorphic_url(@teachable, { :format => :json }) %>';
  globals.difficultiesUrl =
    '<%= polymorphic_url([:difficulties, @teachable], { :format => :json }) %>';
</script>

<div class="center-block quiz" ng-controller="QuizController">
  <div class="btn-toolbar quiz-toolbar" role="toolbar">
    <div class="btn-group">
      <button class="btn"
        ng-disabled="!permissions.action()"
        ng-class="style.difficulty.easy()"
        ng-click="handlers.difficulty.easy()">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
      <button class="btn"
        ng-disabled="!permissions.action()"
        ng-class="style.difficulty.hard()"
        ng-click="handlers.difficulty.hard()">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button class="btn btn-info" ng-click="handlers.quiz.configure()">
        <span class="glyphicon glyphicon-cog"></span>
      </button>
    </div>
    <div class="btn-group quiz-toolbar pull-right">
      <button class="btn btn-default"
        ng-disabled="!permissions.card.previous() || !permissions.action()"
        ng-click="handlers.card.previous()">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
      <button class="btn btn-default"
        ng-disabled="!permissions.card.next() || !permissions.action()"
        ng-click="handlers.card.next()">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>
  </div>

  <div class="quiz-display" ng-show="show.displaying()">
    <div class="quiz-flash-card" ng-click="handlers.quiz.reveal()">
      <p class="text-center quiz-pronunciation"
        ng-class="style.card.pronunciation()">
        <em>
          <span ng-show="show.pinyin()">{{ model.card().pinyin }}</span>
          <span ng-show="show.jyutping()">{{ model.card().jyutping }}</span>
        </em>
      </p>

      <p class="text-center quiz-characters"
        ng-class="style.card.characters()">
        <span ng-show="show.simplified()">{{ model.card().simplified }}</span>
        <span ng-show="show.traditional()">{{ model.card().traditional }}</span>
      </p>

      <p class="quiz-definition">
        <em class="text-muted"
          ng-class="style.card.partOfSpeech()">
          {{ model.card().part_of_speech }}
        </em>
        <span ng-class="style.card.meaning()">
          {{ model.card().meaning }}
        </span>
      </p>
    </div>

    <div class="quiz-example" ng-show="show.example.container()">
      <hr class="quiz-divider" />

      <div class="btn-toolbar quiz-toolbar" role="toolbar">
        <div class="btn-group quiz-toolbar pull-right">
          <button class="btn btn-default"
            ng-disabled="!permissions.example.previous()"
            ng-click="handlers.example.previous()">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </button>
          <button class="btn btn-default"
            ng-disabled="!permissions.example.next()"
            ng-click="handlers.example.next()">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
        </div>
      </div>

      <p class="quiz-example-characters"
        ng-class="style.example.characters()">
        <span ng-show="show.simplified()">{{ model.example().simplified }}</span>
        <span ng-show="show.traditional()">{{ model.example().traditional }}</span>
      </p>

      <p class="quiz-example-translation"
        ng-class="style.example.translation()">
        <em>{{ model.example().translation }}</em>
      </p>
    </div>
  </div>

  <form class="quiz-config" role="form" ng-show="show.configuring()">
    <fieldset>
      <legend>Selection</legend>

      <div class="field-group">
        <input id="selection-all"
        type="radio"
        name="selection[]"
        value="all"
        ng-model="model.quiz.selection" />
        <label for="selection-all">All Cards</label>
      </div>

      <div class="field-group">
        <input id="selection-hardest"
        type="radio"
        name="selection[]"
        value="hardest"
        ng-model="model.quiz.selection" />
        <label for="selection-all">Hardest Cards</label>
      </div>
    </fieldset>

    <fieldset>
      <legend>Flash Cards</legend>

      <div class="field-group">
        <input id="visible-card-pronunciation"
        type="checkbox"
        ng-model="model.quiz.visible.card.pronunciation" />
        <label for="visible-card-pronunciation">Pronunciation</label>
      </div>

      <div class="field-group">
        <input id="visible-card-characters"
        type="checkbox"
        ng-model="model.quiz.visible.card.characters" />
        <label for="visible-card-characters">Characters</label>
      </div>

      <div class="field-group">
        <input id="visible-card-part-of-speech"
        type="checkbox"
        ng-model="model.quiz.visible.card.partOfSpeech" />
        <label for="visible-card-part-of-speech">Part of speech</label>
      </div>

      <div class="field-group">
        <input id="visible-card-meaning"
        type="checkbox"
        ng-model="model.quiz.visible.card.meaning" />
        <label for="visible-card-meaning">Meaning</label>
      </div>
    </fieldset>

    <fieldset>
      <legend>Examples</legend>

      <div class="field-group">
        <input id="visible-example-characters"
        type="checkbox"
        ng-model="model.quiz.visible.example.characters" />
        <label for="visible-example-characters">Characters</label>
      </div>

      <div class="field-group">
        <input id="visible-example-translation"
        type="checkbox"
        ng-model="model.quiz.visible.example.translation" />
        <label for="visible-example-translation">Translation</label>
      </div>
    </fieldset>
  </div>
</div>
