<div class="row-fluid">
  <div class="span4">
    <%= render_teachables "Drills", @drills %>
  </div>
  <div class="span4">
    <%= render_teachables "Passages", @passages %>
  </div>
  <div class="span4">
    <%= render_teachables "Songs", @songs %>
  </div>
</div>
