<div class="row-fluid">
  <div class="span3">
    <%= render_teachables Drill, @drills %>
  </div>
  <div class="span3">
    <%= render_teachables Passage, @passages %>
  </div>
  <div class="span3">
    <%= render_teachables Song, @songs %>
  </div>
  <div class="span3">
  </div>
</div>
