<% content_for :head do %>
  <script src="https://www.youtube.com/iframe_api"></script>
<% end %>

<%= form_for @song,
  :url => { :action => action },
  :html => {
    :class => "form-horizontal",
    :role => "form"
  },
  :method => method do |form| %>

  <fieldset ng-controller="SongFormController">
    <legend>Song</legend>

    <div class="row">
      <div class="col-md-4">
        <iframe
          id="youtube-player"
          width="100%"
          height="240"
          frameborder="0"
          src="{{ model.song.youtubeUrl() }}"></iframe>

        <div class="form-group"
          ng-show="permissions.lyrics.showControls()">
          <div class="btn-group col-md-12">
            <a class="btn btn-default col-md-4"
              ng-disabled="!permissions.lyrics.setTime()"
              ng-click="handlers.lyrics.setTime()">
              Set Time
            </a>

            <a class="btn btn-default col-md-4"
              ng-click="handlers.lyrics.stepBack()">
              <span class="glyphicon glyphicon-step-backward"></span>
            </a>
            <a class="btn btn-default col-md-2"
              ng-disabled="!permissions.lyrics.previousLyric()"
              ng-click="handlers.lyrics.previousLyric()">
              <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
            <a class="btn btn-default col-md-2"
              ng-disabled="!permissions.lyrics.nextLyric()"
              ng-click="handlers.lyrics.nextLyric()">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
          </div>
        </div>

        <div class="form-group"
          ng-show="permissions.lyrics.showControls()">
          <div class="col-md-12">
            <ul class="list-unstyled song-translation-inline lyric-one-row"
              ng-bind-html="display.lyrics.contextLines()">
            </ul>
          </div>
        </div>

        <div class="form-group"
          ng-show="!permissions.lyrics.showControls()">
          <p class="text-danger text-center">
            <em>
              The lyrics and translations don't quite line up.
            </em>
          </p>
        </div>

        <ul class="list-unstyled">
          <li ng-repeat="lines in model.lyrics">
            <div class="form-group">
              <div class="col-md-3">
                <input
                  ng-model="model.song.timing[$index]"
                  class="form-control"
                  step="0.2"
                  type="number"></input>
              </div>
              <div class="col-md-9"
                ng-click="handlers.lyrics.selectRow($index)">
                <ul class="list-unstyled cursor-hand lyric-one-row"
                  ng-class="style.lyrics.row($index)">
                  <li>
                    <span ng-show="show.simplified()" ng-bind-html="display.lyrics.format(lines.simplified)"></span>
                    <span ng-show="show.traditional()" ng-bind-html="display.lyrics.format(lines.traditional)"></span>
                  </li>
                  <li class="song-translation-inline">{{ lines.translation }}</li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label for="song-title" class="control-label col-md-2">Title</label>
          <div class="col-md-4">
            <input
              id="song-title"
              name="song[title]"
              ng-model="model.song.title"
              class="form-control"
              type="text"></input>
          </div>

          <label for="song-artist" class="control-label col-md-2">Artist</label>
          <div class="col-md-4">
            <input
              id="song-artist"
              name="song[artist]"
              ng-model="model.song.artist"
              class="form-control"
              type="text"></input>
          </div>
        </div>

        <div class="form-group">
          <label for="song-youtube-id" class="control-label col-md-2">Youtube ID</label>
          <div class="col-md-4">
            <input
              id="song-youtube-id"
              name="song[youtubeId]"
              ng-model="model.song.youtubeId"
              class="form-control"
              type="text"></input>
          </div>

          <label for="song-dialect" class="control-label col-md-2">Dialect</label>
          <div class="col-md-4">
            <select
              id="song-dialect"
              name="song[dialect]"
              ng-model="model.song.dialect"
              class="form-control"
              type="text">
              <option value="mandarin">Mandarin</option>
              <option value="cantonese">Cantonese</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="song-simplified" class="control-label col-md-2">Simplified</label>
          <div class="col-md-4">
            <textarea
              id="song-simplified"
              ng-model="model.song.raw.simplified"
              ng-keydown="handlers.song.annotate($event)"
              rows="6"
              class="form-control"></textarea>
          </div>

          <label for="song-traditional" class="control-label col-md-2">Traditional</label>
          <div class="col-md-4">
            <textarea
              id="song-traditional"
              name="song[traditional]"
              ng-model="model.song.raw.traditional"
              ng-keydown="handlers.song.annotate($event)"
              rows="6"
              class="form-control"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="song-translation" class="control-label col-md-2">Translation</label>
          <div class="col-md-10">
            <textarea
              id="song-translation"
              ng-model="model.song.raw.translation"
              rows="6"
              class="form-control"></textarea>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <%= render :partial => "flash_cards/form" %>

  <div class="row">
    <%= form.submit :class => "btn btn-primary",
      "ng-disabled" => "!permissions.drill.post()" %>
  </div>
<% end %>
