<h1><%= @song.title %></h1>
<p><emph>by <%=@song.artist%></emph></p>
<p><%= link_to @song.title, @song.url %></p>

<ul>
  <% @song.flash_cards.each do |fc| %>
    <li><%= link_to fc.meaning, song_flash_card_path(@song, fc) %>
  <% end %>
</ul>
