<h1><%= @drill.title %></h1>

<p><%= @drill.description %></p>

<ul>
  <% @drill.flash_cards.each do |fc| %>
    <li><%= link_to fc.meaning, drill_flash_card_path(@drill, fc) %></li>
  <% end %>
</ul>
