@mixin skewy($angle) {
  -moz-transform: skewy($angle);
  -o-transform: skewy($angle);
  -webkit-transform: skewy($angle);
  transform: skewy($angle);
}

$margin: 3px;
$border-size: 2px;
$border-color: gray;
$muted-color: LightGray;
$ruby-size: 14px;
$font-size: 92px;
$size: 1.1 * $font-size;
$side-length: $size + 2 * $border-size;

.grid-guide,
.grid-sample,
.grid-square {
  display: inline-block;
  position: relative;
  float: left;
  margin: {
    right: $margin;
    bottom: $margin;
  }
}

.grid-row,
.grid-word,
.grid-meaning,
.grid-pronunciation,
.grid-character {
  width: 100%;
}

.grid-word {
  page-break-inside: avoid;
}

.grid-row {
  height: $side-length;
  margin-bottom: $margin;
  overflow: hidden;
}

.grid-guide {
  height: 100%;
  width: $side-length / 2;
}

.grid-pronunciation,
.grid-character {
  margin: 0;
}

.grid-pronunciation {
  margin-top: ($size * (1 - 1.1 / 2) - 14 * 1.1) / 2;
  font-size: $ruby-size;
}

.grid-character {
  font-size: $font-size / 2;
}

.grid {
  @extend center-block;

  font-family: sans-serif, DFKai-SB, STKaiti;

  width: 7.5in;
  margin: 0.25in;
}

.grid-square {
  height: ($side-length - $margin) / 2;
  width: ($side-length - $margin) / 2;
  border: $border-size solid $border-color;
}

.grid-sample {
  height: $side-length;
  width: $side-length;

  text-align: center;

  border: $border-size solid $border-color;
  color: $muted-color;

  font-size: $font-size;
  line-height: $side-length;
}

@media print {
  .grid-sample span {
    // fuck you bootstrap
    color: $muted-color !important;
  }
}

.grid-decoration {
  position: absolute;
  z-index: -1;
  border: 1px solid $muted-color;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}

.grid-horiz {
  width: 100%;
  top: 50%;
}

.grid-vert {
  height: 100%;
  left: 50%;
}

.grid-rise {
  @extend .grid-horiz;
  @include skewy(-45deg);
}

.grid-fall {
  @extend .grid-horiz;
  @include skewy(45deg);
}
