@mixin floater {
  display: inline-block;
  position: relative;
  float: left;
}

// Configured Values
$length: 36px;
$margin: 3px;
$border: 2px;
$lines: 2;
$scale: 0.4;
$boxline: gray;

// Derived Values
$guideline: lighten($boxline, 20%);
$height-total: $lines * ($length + 2 * ($margin + $border));
$height-marginless: $height-total - 2 * ($margin + $border);

.grid {
  width: 7.5in;
  margin: 0.25in;

  .word {
    @include floater;
    width: 100%;
    page-break-inside: avoid;

    .character {
      @include floater;

      overflow: hidden;
      height: $height-total;

      .guide {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        ruby {
          font-size: $length * $scale * $lines;
        }
      }

      .guide-vcenter {
        @include floater;

        height: 100%;
        width: 2 * $length;
        margin: $margin;
        display: table;
      }

      .square {
        @include floater;

        line-height: 100%;
        margin: $margin;

        border: 2px solid $boxline;

        .cross {
          position: absolute;
          background-color: $guideline;

          top: 0;
          left: 0;
          height: 1px;
          width: 1px;
        }

        .rise {
          width: 100%;
          top: 50%;

          -o-transform: skewy(-45deg);
          -moz-transform: skewy(-45deg);
          -ms-transform: skewy(-45deg);
          -webkit-transform: skewy(-45deg);
          transform: skewy(-45deg);
        }

        .fall {
          width: 100%;
          top: 50%;

          -o-transform: skewy(45deg);
          -moz-transform: skewy(45deg);
          -ms-transform: skewy(45deg);
          -webkit-transform: skewy(45deg);
          transform: skewy(45deg);
        }

        .horizontal {
          width: 100%;
          top: 50%;
        }

        .vertical {
          left: 50%;
          height: 100%;
        }
      }

      .sample {
        font-size: $height-marginless;
        color: $boxline;
      }

      .empty {
        @include floater;

        width: $length;
        height: $length;
        border: 2px solid $boxline;
        margin: $margin;
      }
    }
  }
}
