.quiz {
  width: 320px;
  min-height: 320px;
  padding: 6px;

  border: {
    width: 2px;
    style: none;
    color: grey;
    radius: 6px;
  }
  box-shadow: 6px 6px 6px 6px lightgrey;
}

.quiz-flash-card {
  min-height: 120px;
}

.quiz-toolbar {
  button {
    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  margin-bottom: 6px;
}

.quiz-divider {
  margin-bottom: 6px;
}

.quiz-pronunciation {
  font-size: 18px;
}

.quiz-characters {
  font-family: sans-serif, DFKai-SB, STKaiti;
  font-size: 60px;
}

.quiz-config {
  fieldset {
    margin-bottom: 12px;
  }

  legend {
    margin-bottom: 6px;
  }
}

.quiz-blur {
  color: transparent;
  text-shadow: 0 0 24px grey;
}
