body.quiz {
  #pronunciation {
    text-align: center;
    font-size: 16pt;
    line-height: 16pt;
  }

  #character {
    text-align: center;
    font-size: 48pt;
    line-height: 48pt;
  }

  #part-of-speech {
    font-style: italic;
  }

  #meaning {
    text-indent: 20%;
  }

  #flash-card:hover p,
  #flash-card:active p {
    visibility: visible !important;
  }
}
