@mixin narrow {
  margin: {
    left: 20%;
    right: 20%;
  }
}

body#songs-page,
body#drills-page,
body#passages-page {
  #transcript {
    text-align: center;
    font-size: 16pt;
    line-height: 16pt;
  }

  #character {
    text-align: center;
    font-size: 48pt;
    line-height: 48pt;
  }

  #part-of-speech {
    @include narrow;

    font-style: italic;
  }

  #meaning {
    @include narrow;
  }
}
