// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.song-translation-inline {
  white-space: nowrap;
  overflow: hidden;
}
